*{ margin: 0%;
    padding: 0%;}
body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
header{
    display: flex;
    background:dodgerblue;
    width: 100%;
}
nav{ 
    align-items: end;
    display: flex;
    justify-content: space-around;
    margin-left: 4em;
    width:100%;
    a{
       font-size: 2em;
       border: solid white;
       border-radius:  15px ; 
       text-decoration: none;
       color: white;
    }
}