* {
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: 'fuente para lola';
    src: url(Bernathia\ Andalissa.otf);
}
body {
    display: flex;
    width: 100%;
    main {
        width: 100%;
        display: flex;
    }
    aside {
        display: flex;
        height: 100vh;
        justify-content: center;
        /*flex-direction: column;*/
        /*flex-wrap: wrap;*/
        background-color: darkslateblue;
        width: 30%;
        div {
            #logo-movil {
                display: none;
            }
        }
        nav {
            display: flex;
            flex-direction: column;
            width: 60%;
            #menu {
                text-align: center;
                display: none;
                text-decoration: none;

            }
            #cerrar {
                text-align: center;
                display: none;
                text-decoration: none;
            }
            ul {
                display: flex;
                flex-direction: column;
                a {
                    color: white;
                    font-size: 1.5em;
                    margin-bottom: 1em;
                    text-decoration: none;
                }
                a:hover {
                    background-color: white;
                    color: black;
                    transition: all 1s ease;
                }
            }
        }
        #redes {
            display: flex;
            width: 100%;
            color: white;
            justify-content: space-around;
            align-items: center;
            a {
                color: white;
                font-size: 1.5em;
                margin-bottom: 1em;
                text-decoration: none;
            }
        }
    }
    section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        div {
            width: 100%;
        }
        h2 {
            font-weight: lighter;
            text-align: center;
            margin-top: 1.5em;

            span {
                font-weight: bold;
            }
        }
        h1 {
            text-align: center;
            color: darkcyan;
            font-family: 'fuente para lola';
            font-size: 4em;
            font-weight: bolder;
            width: 100%;
        }
        #lola {
            width: 38%;

            img {
                width: 100%;
            }
        }
        form {
            border: solid white;
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            justify-content: space-around;
            .circulos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 30%;
            }
            #azul {
                width: 5em;
                height: 5em;
                background-color: aqua;
                border-radius: 80px;
            }

            #amarillo {
                width: 5em;
                height: 5em;
                background-color: lemonchiffon;
                border-radius: 80px;
            }
            #verde {
                width: 5em;
                height: 5em;
                background-color: lightgreen;
                border-radius: 80px;
            }
            p {
                font-size: 1.10em;
                width: 60%;
                text-align: center;
            }
            .formulario {
                text-align: center;
                input {
                    font-size: 1.25em;
                    border: solid black thin;
                }
            }
            #enviar {
                text-align: center;
                input {
                    background-color: darkslateblue;
                    color: white;
                    border: solid black thin;
                    width: 30%;
                    font-size: 1.5em;
                }
            }
        }
        #redesmovil {
            display: none;
        }
    }
}
@media (max-width:690px) {
    body {
        main {
            flex-wrap: wrap;
            text-align: center;
        }
        aside {
            height: 45%;
            width: 100%;
            background-color: white;
            div {
                display: flex;
                justify-content: center;
                width: 100%;
                align-items: center;
                #logo-movil {
                    display: block;
                    width: 100%;
                }
                img {
                    display: none;
                }
            }
            nav {
                width: 30%;     
            /*Muestro el icono de las rayas para el menu*/
               #menu {
                    color: darkslateblue;
                    display: block;
                    font-size: 1.25em;
                }
            }
            /* Ocultar la lista por defecto */
            #abrir {
                display: none;
            }
            /* Mostrar la lista cuando el menú es seleccionado */
            #abrir:target {
                display: block;
                .lista{
                    display: flex;
                    color: black;
                    flex-direction: column;    
                }
            }
            /* Mostrar el botón cerrar cuando el menú está desplegado */
            #abrir:target a#cerrar {
                display: block;
                color: darkslateblue;
                font-size: 1.25em;
            }
            /* Ocultar el botón de menú cuando el menú está desplegado */
            #abrir:target ~ #menu {
                    display: none;
                }
            #redes {
                display: none;
            }
        }
        section {
            justify-content: center;

            #lola {
                display: none;
                width: 0%;
            }
            form {
                width: 100%;
                justify-content: center;

                .circulos {
                    width: 28%;
                    margin-bottom: 0.5em;
                }

                .formulario {
                    input {
                        margin-bottom: 0.5em;
                    }
                }
            }
            #redesmovil {
                display: flex;
                justify-content: space-between;
                display: block;
                background-color: darkslateblue;
                margin-top: 0.5em;
                a {
                    color: white;
                    font-size: 1.5em;
                    text-decoration: none;
                    margin-left: 1em;
                    margin-right: 1em;
                }
            }
        }
    } /*fin body*/
}/*fin media*/